
*::after,*::before,*{
    margin: 0;
    box-sizing: border-box;
}
*{
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
}

.grid-container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 25%;     */
    grid-template-columns: repeat(4,1fr);

}

/* Block-1 Start */
.div-block-1{
    grid-column-start: 1;
    grid-column-end: 3;

}
.div-block-1{
   display: flex;
   justify-content: space-around;
   align-items: center;
    padding: 0px 4%;
}
.div-block-1 .text-content{
    width: 32%;
}
.div-block-1 .text-content h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}
.div-block-1 .text-content .caps{
    font-family: Montserrat, sans-serif;
    color: #9fa3a7;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.div-block-1 .text-content p:nth-child(3){
    font-size: 14px;
    color: #9fa3a7;
    width: fit-content;
    font-family: 'Open Sans', sans-serif;
}
.div-block-1  img{
    margin-top: 40px;
    width: 249px;
    align-self: flex-end;
}

/* Block-1 End */





/* Block-2 Start */
.div-block-2{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #f7f8f9;
}
.div-block-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-block-2 .heading-3{
    max-width: 550px;
}
.div-block-2 .caps{
    font-family: Montserrat, sans-serif;
    color: #9fa3a7;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.div-block-2 h1{
    font-family: Arvo, sans-serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    padding: 20px 0 10px;
}
.div-block-2 a{
    color: #27b9c2;
}

/* Block-2 end*/

























.div-block-3{
    grid-column-start:1;
    grid-column-end:2;
    background-color: lightgray;
}
.div-block-4{
    grid-column-start:2;
    grid-column-end:4;
    background-color: lightseagreen;
}
.div-block-5{
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end: 4;
    background-color: lightsalmon;
}
.div-block-6{
    grid-column-start:1;
    grid-column-end:2;
    background-color: lightgoldenrodyellow;
}
.div-block-7{
    grid-column-start:2;
    grid-column-end:4;
    background-color: lightcoral;

}
.div-block-8{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: lightsalmon;
}
.div-block-9{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: lightgoldenrodyellow;
}
.div-block-10{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(168, 75, 93);
}